h1{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

h4 {
  font-size: 18px;
}

i {
  vertical-align: bottom;
}

.brand-logo {
  margin-left: 15px;
}

.parallax img{
  filter: blur(5px);
}

.card .attach-to-bottom{
  width: 95%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 40px;
}

#hero-text {
  position: relative;
  top: 25%;
}

#previews img{
  width: 100%;
}

#menu .card{
  height: 550px;
}
#menu .card h6{
  vertical-align: bottom;
}

#menu .card-action{
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
